# ---
# voauth must be setup here before starting the API server
# ---

# voauth host (leave as https://voauth.villainsrule.xyz unless you're selfhosting)
VOAUTH_HOST=https://voauth.villainsrule.xyz

# --> voauth client info
#     create a voauth app at https://voauth.villainsrule.xyz
#     fill in the values below

VOAUTH_CLIENT_ID=
VOAUTH_CLIENT_SECRET=

# your user ID on voauth (find this at https://voauth.villainsrule.xyz/home)
VOAUTH_USER_ID=